.service_dhh_2_0_0 {
  background: url(../images/service-bg.jpg?v=0) center 0;
  background-size: 1920px;
}
.service_dhh_2_0_0__main {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}
.service_dhh_2_0_0__wrapper {
  width: 45%;
  padding: 30px 0;
}
.service_dhh_2_0_0__modal {
  width: 45%;
}
.service_dhh_2_0_0__modal img {
  width: 100%;
  height: auto;
  display: block;
}
.service_dhh_2_0_0__header {
  font-size: 20px;
  font-weight: 600;
  color: #727272;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 20px;
}
.service_dhh_2_0_0__header span {
  display: block;
  font-size: 26px;
  color: #5B2F9E;
}
.service_dhh_2_0_0__box {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}
.service_dhh_2_0_0__item {
  margin: 0;
  width: 47%;
  border-radius: 16px;
  overflow: hidden;
}
.service_dhh_2_0_0__item:hover img {
  transform: scale(1.05);
}
.service_dhh_2_0_0__item img {
  width: 100%;
  height: auto;
  display: block;
  border-radius: 16px;
  transition: all 0.2s linear;
}
.service_dhh_2_0_0__item a {
  display: block;
  position: relative;
}
.service_dhh_2_0_0__desc {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 10px 15px;
  background: linear-gradient(to top, #fff 0%, rgba(255, 255, 255, 0.8) 54%, rgba(255, 255, 255, 0) 100%);
}
.service_dhh_2_0_0__desc::after {
  position: absolute;
  right: 15px;
  bottom: 10px;
  content: "";
  background: url(../images/service-icon.svg) center 0 no-repeat;
  background-size: 13px;
  width: 13px;
  height: 20px;
}
.service_dhh_2_0_0__text {
  font-size: 16px;
  font-weight: 600;
  color: #B61F7E;
  text-transform: uppercase;
  margin: 0;
}
.service_dhh_2_0_0__btn {
  text-align: center;
  margin-top: 20px;
}
.service_dhh_2_0_0__btn button {
  position: relative;
  font-size: 16px;
  font-weight: 600;
  padding: 10px 30px;
  border-radius: 20px;
  border: none;
  background: #5B2F9E;
  color: #fff;
  cursor: pointer;
  transition: all 0.2s linear;
  overflow: hidden;
}
.service_dhh_2_0_0__btn button::before {
  content: "";
  position: absolute;
  background: url(../images/btn-icon1.svg) center 0 no-repeat;
  background-size: 100%;
  left: 0;
  top: 0;
  bottom: 0;
  width: 110px;
  transition: all 0.2s linear;
}
.service_dhh_2_0_0__btn button::after {
  content: "";
  position: absolute;
  background: url(../images/btn-icon2.svg) center 0 no-repeat;
  background-size: 100%;
  right: 0;
  top: 0;
  bottom: 0;
  width: 110px;
  transition: all 0.2s linear;
}
.service_dhh_2_0_0__btn button:hover {
  box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.7);
  background: #B61F7E;
}
.service_dhh_2_0_0__btn button:hover::before {
  background: url(../images/btn-icon1-hv.svg) center 0 no-repeat;
  background-size: 100%;
}
.service_dhh_2_0_0__btn button:hover::after {
  background: url(../images/btn-icon2-hv.svg) center 0 no-repeat;
  background-size: 100%;
}
.service_dhh_2_0_0__btn span {
  display: block;
  margin-top: 10px;
  font-size: 14px;
}
@media (max-width: 1440px) {
  .service_dhh_2_0_0__wrapper {
    width: 40%;
  }
  .service_dhh_2_0_0__modal {
    width: 40%;
  }
}
@media (max-width: 1180px) {
  .service_dhh_2_0_0__wrapper {
    width: 45%;
  }
  .service_dhh_2_0_0__modal {
    width: 45%;
  }
}
@media (max-width: 912px) {
  .service_dhh_2_0_0__wrapper {
    width: 50%;
  }
  .service_dhh_2_0_0__modal {
    width: 50%;
  }
}
@media (max-width: 767px) {
  .service_dhh_2_0_0__wrapper {
    width: 100%;
    padding: 20px 0;
  }
  .service_dhh_2_0_0__header {
    font-size: 14px;
    margin-bottom: 10px;
  }
  .service_dhh_2_0_0__header span {
    font-size: 17px;
  }
  .service_dhh_2_0_0__box {
    gap: 10px;
  }
  .service_dhh_2_0_0__modal {
    display: none;
  }
  .service_dhh_2_0_0__desc::after {
    background-size: 9px;
    right: 10px;
    bottom: 7px;
  }
  .service_dhh_2_0_0__text {
    font-size: 14px;
  }
  .service_dhh_2_0_0__btn {
    margin-top: 10px;
  }
  .service_dhh_2_0_0__btn button {
    font-size: 14px;
    padding: 5px 25px;
  }
  .service_dhh_2_0_0__btn button::before {
    width: 75px;
  }
  .service_dhh_2_0_0__btn button::after {
    width: 75px;
  }
  .service_dhh_2_0_0__btn span {
    font-size: 13px;
  }
}
@media (max-width: 320px) {
  .service_dhh_2_0_0__desc {
    padding: 5px 10px;
  }
  .service_dhh_2_0_0__desc::after {
    background-size: 9px;
    right: 7px;
    bottom: 1px;
  }
  .service_dhh_2_0_0__text {
    font-size: 12px;
  }
}/*# sourceMappingURL=service_dhh_2_0_0.css.map */