.sidebar_dhh_2_0_1 {
    &__box {
        max-width: 350px;
    }
    &__form {
        background: #b61f7e;
        padding: 30px;
    }
    &__logo {
        text-align: center;
        img {
            display: block;
            height: auto;
            width: 60%;
            margin: 0 auto;
        }
    }
    article {
        margin-top: 20px;
        input {
            width: 100%;
            padding: 8px 10px;
            margin-top: 10px;
            border-radius: 10px;
            border: none;
        }
    }
    select {
        width: 100%;
        padding: 8px 10px;
        margin-top: 10px;
        border-radius: 10px;
        border: none;
        cursor: pointer;
    }
    &__btn {
        margin-top: 20px;
        padding: 8px 10px;
        width: 100%;
        border-radius: 10px;
        border: none;
        color: #5b2f9e;
        background-color: #ffd1ee;
        cursor: pointer;
        font-weight: 500;
    }
    &__list {
        margin-top: 20px;
    }
    &__heading {
        font-size: 18px;
        padding-bottom: 10px;
        border-bottom: 1px solid #b61f7e;
        color: #b61f7e;
        text-transform: uppercase;
        font-weight: bold;
    }
    &__news {
        display: flex;
        gap: 10px;
        margin-top: 10px;
        img {
            width: 50%;
            display: block;
        }
    }
    &__left {
        width: 50%;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    &__title {
        color: black;
        font-weight: 600;
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 2;
    }
    &__date {
        color: #727272;
    }
    @media (max-width: 820px) {
        display: none;
    }
}