.contact_dhh_2_0_0 {
    padding: 30px 0;
    min-height: calc(100vh - 318px);
    &__header {
        font-size: 26px;
        font-weight: 600;
        color: #B61F7E;
        text-transform: uppercase;
        padding-bottom: 5px;
        border-bottom: 2px solid #B61F7E;
        margin: 0 0 20px 0;
    }
    &__box {
        display: flex;
        gap: 20px;
    }
    &__left {
        display: flex;
        flex-direction: column;
        gap: 20px;
        span {
            color: #B61F7E;
            display: flex;
            align-items: center;
            gap: 5px;
            font-weight: 600;
            font-size: 16px;
            border-bottom: 1px solid #B61F7E;
            padding-bottom: 5px;
            margin: 0 0 15px 0
        }
        ul {
            list-style: none;
            padding: 0;
            margin: 0;
            font-size: 14px;
            display: flex;
            flex-direction: column;
            gap: 10px;
        }
    }
    &__right {
        img {
            display: block;
            width: 100%;
            height: auto;
        }
    }
    @media(max-width: 767px) {
        padding: 20px 0;
        &__box {
            flex-direction: column;
            gap: 15px;
        }
        &__header {
            font-size: 17px;
        }
        &__item {
            span {
                margin-bottom: 10px;
            }
        }
        &__left {
            gap: 10px;
            span {
                font-size: 14px;
            }
        }
    }
}