.breadcrumb_dhh_2_0_0 {
    text-transform: uppercase;
    font-weight: 600;
    color: #BCBCBC;
    margin-top: 30px;
    padding-bottom: 10px;
    border-bottom: 1px solid #BCBCBC;
    a {
        color: #BCBCBC;
    }
}