@charset "UTF-8";
.header_dhh_2_0_0 {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  left: 0;
  width: 100%;
  background: linear-gradient(90deg, rgb(91, 47, 158) 5%, rgb(182, 31, 126) 21%, rgb(91, 47, 158) 80%);
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.3);
  padding: 20px 0 10px;
  z-index: 20;
}
.header_dhh_2_0_0__box {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header_dhh_2_0_0__logo {
  margin: 0;
}
.header_dhh_2_0_0__logo img {
  display: block;
  width: 100%;
  max-width: 200px;
  height: auto;
}
.header_dhh_2_0_0__list {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}
.header_dhh_2_0_0__item {
  padding: 10px 5px;
}
.header_dhh_2_0_0__link {
  font-size: 16px;
  padding: 10px 10px;
  font-weight: 600;
  cursor: pointer;
  color: white;
}
.header_dhh_2_0_0__btn {
  padding: 0;
  margin: 0 0 0 10px;
  border: none;
  background: none;
  display: block;
  cursor: pointer;
}
.header_dhh_2_0_0__dropdown {
  transition: all 0.2s linear;
  display: none;
  position: absolute;
  right: 0;
  top: 51px;
  width: 746px;
  background: #fff;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  border: 1px solid rgba(0, 0, 0, 0.15);
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.2);
  padding: 20px;
}
.header_dhh_2_0_0__dropdownCate {
  width: 50%;
  margin-right: 20px;
}
.header_dhh_2_0_0__dropdownCate:last-child {
  margin-right: 0;
}
.header_dhh_2_0_0__dropdownTitle {
  font-size: 14px;
  text-transform: uppercase;
  color: #461396;
  font-weight: 600;
  margin-bottom: 5px;
}
.header_dhh_2_0_0__dropdown ul {
  list-style: none;
  padding: 0;
  margin: 0;
  font-size: 12px;
}
.header_dhh_2_0_0__dropdown ul li {
  border-bottom: 1px solid #f1f1f1;
  padding-bottom: 8px;
  margin-bottom: 7px;
}
.header_dhh_2_0_0__dropdown ul li:hover a {
  color: #0056a4;
}
.header_dhh_2_0_0__item:hover .header_dhh_2_0_0__dropdown {
  display: flex;
}
.header_dhh_2_0_0__item:hover .header_dhh_2_0_0__link {
  background-color: #a90a93;
  border-radius: 10px;
}
.header_dhh_2_0_0__nav {
  display: none;
}
.header_dhh_2_0_0__logoMb {
  display: none;
}
.header_dhh_2_0_0__btnGroup {
  display: none;
}
.header_dhh_2_0_0__bg {
  display: none;
}
@media (max-width: 1200px) {
  .header_dhh_2_0_0 {
    padding: 8px 0;
  }
  .header_dhh_2_0_0 .container {
    padding-left: 0;
    padding-right: 0;
  }
  .header_dhh_2_0_0__bg {
    background: rgba(0, 0, 0, 0.5);
    position: fixed;
    left: 0;
    bottom: 0;
    top: 0;
    width: 100%;
    z-index: 10;
  }
  .header_dhh_2_0_0__nav {
    display: block;
  }
  .header_dhh_2_0_0__nav img {
    display: block;
  }
  .header_dhh_2_0_0__btnGroup {
    display: flex;
  }
  .header_dhh_2_0_0__btnGroup a {
    border: 1px solid white;
    width: 35px;
    height: 35px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    margin-right: 5px;
  }
  .header_dhh_2_0_0__btnGroup button {
    background: rgba(238, 238, 238, 0);
    border: 1px solid white;
    width: 35px;
    height: 35px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    cursor: pointer;
  }
  .header_dhh_2_0_0__logo img {
    max-width: 160px;
    margin: 0 auto;
  }
  .header_dhh_2_0_0__logoMb {
    display: block;
  }
  .header_dhh_2_0_0__logoMb img {
    width: 70%;
    margin: 10px auto;
    display: block;
    height: auto;
  }
  .header_dhh_2_0_0__list {
    flex-direction: column;
    overflow-y: auto;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    background: linear-gradient(rgb(91, 47, 158) 5%, rgb(182, 31, 126) 21%, rgb(91, 47, 158) 80%);
    width: 250px;
    z-index: 20;
    transform: translateX(-100%);
    transition: all 0.3s linear;
  }
  .header_dhh_2_0_0 .show {
    transform: translateX(0);
  }
  .header_dhh_2_0_0__item {
    width: 100%;
    padding: 8px 0;
  }
  .header_dhh_2_0_0__btn {
    display: none;
  }
  .header_dhh_2_0_0__link::after {
    content: "ˇ";
    position: absolute;
    right: 10px;
    font-size: 25px;
  }
  .header_dhh_2_0_0__item:hover .header_dhh_2_0_0__dropdown {
    display: none;
    flex-direction: column;
  }
  .header_dhh_2_0_0__item:hover .header_dhh_2_0_0__link {
    background-color: unset;
  }
  .header_dhh_2_0_0__item.open .header_dhh_2_0_0__dropdown {
    display: block;
  }
  .header_dhh_2_0_0__dropdown {
    width: 100%;
    display: none;
    position: unset;
    padding: 0;
    box-shadow: unset;
    border: none;
    margin: 10px 0 0;
    border-radius: 0;
  }
  .header_dhh_2_0_0__dropdownCate {
    width: 100%;
    padding: 10px;
    margin: 0;
  }
  .header_dhh_2_0_0__dropdownCate ul li:hover a {
    color: black;
  }
  .header_dhh_2_0_0__dropdownCate ul li a {
    color: #0056a4;
  }
}
@media (max-width: 767px) {
  .header_dhh_2_0_0 .container {
    padding-right: 15px;
    padding-left: 15px;
  }
}
@media (max-width: 320px) {
  .header_dhh_2_0_0__logo img {
    max-width: 130px;
  }
}
@media (max-width: 280px) {
  .header_dhh_2_0_0 .container {
    padding-right: 10px;
    padding-left: 10px;
  }
}/*# sourceMappingURL=header_dhh_2_0_0.css.map */