@charset "UTF-8";
.header_dhh_2_0_0 {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  left: 0;
  width: 100%;
  background: linear-gradient(90deg, rgb(91, 47, 158) 0%, rgb(182, 31, 126) 19%, rgb(175, 32, 129) 38%, rgb(91, 47, 158) 99%);
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.3);
  padding: 20px 0 10px;
  z-index: 9999;
}
.header_dhh_2_0_0 h1:before {
  position: absolute !important;
}
.header_dhh_2_0_0__box {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header_dhh_2_0_0__logo {
  margin-bottom: 5px;
  position: relative;
  margin: 0;
}
.header_dhh_2_0_0__logo img {
  display: block;
  width: 100%;
  max-width: 200px;
  height: auto;
}
.header_dhh_2_0_0__menu {
  position: relative;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-bottom: 5px;
}
.header_dhh_2_0_0__menuItem:hover .header_dhh_2_0_0__dropdown {
  visibility: visible;
  opacity: 1;
}
.header_dhh_2_0_0__menuTitle {
  font-size: 14px;
  text-transform: uppercase;
  font-weight: 600;
  padding: 0 15px;
  cursor: pointer;
  transition: all 0.2s linear;
  color: white;
}
.header_dhh_2_0_0__menuTitle:hover {
  color: #01abe6;
}
.header_dhh_2_0_0__menuBtn {
  padding: 0;
  margin: 0 0 0 10px;
  border: none;
  background: none;
  display: block;
  cursor: pointer;
}
.header_dhh_2_0_0__menuBtn img {
  width: 20px;
  height: auto;
  display: block;
}
.header_dhh_2_0_0__dropdown {
  transition: all 0.2s linear;
  visibility: hidden;
  opacity: 0;
  position: absolute;
  right: 0;
  margin-top: 10px;
  top: 100%;
  width: 740px;
  background: #fff;
  border-radius: 15px;
  border: 1px solid rgba(0, 0, 0, 0.15);
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.2);
  padding: 20px;
}
.header_dhh_2_0_0__dropdownBox {
  display: flex;
}
.header_dhh_2_0_0__dropdownCate {
  width: 50%;
  margin-right: 20px;
}
.header_dhh_2_0_0__dropdownCate:last-child {
  margin-right: 0;
}
.header_dhh_2_0_0__dropdownTitle {
  text-transform: uppercase;
  font-size: 14px;
  text-transform: uppercase;
  color: #307DAD;
  font-weight: 600;
  margin-bottom: 5px;
}
.header_dhh_2_0_0__dropdown ul {
  list-style: none;
  padding: 0;
  margin: 0;
  font-size: 12px;
}
.header_dhh_2_0_0__dropdown ul li {
  border-bottom: 1px solid #f1f1f1;
  padding-bottom: 8px;
  margin-bottom: 7px;
}
.header_dhh_2_0_0__dropdown ul li:hover a {
  color: #0056A4;
}
.header_dhh_2_0_0__btnGroup {
  display: none;
}
.header_dhh_2_0_0__menuMb {
  display: none;
}
.header_dhh_2_0_0__logoMb {
  display: none;
}
.header_dhh_2_0_0__bg {
  display: none;
}
@media (max-width: 1200px) {
  .header_dhh_2_0_0 {
    padding: 5px 0;
  }
  .header_dhh_2_0_0 .container {
    padding-right: 0;
    padding-left: 0;
  }
  .header_dhh_2_0_0__bg {
    background: rgba(0, 0, 0, 0.5);
    position: fixed;
    left: 0;
    bottom: 0;
    top: 0;
    width: 100%;
    z-index: 10;
  }
  .header_dhh_2_0_0__flag span {
    font-size: 14px;
  }
  .header_dhh_2_0_0__box {
    align-items: center;
    position: relative;
  }
  .header_dhh_2_0_0__logo img {
    max-width: 160px;
    margin: 0 auto;
  }
  .header_dhh_2_0_0__logoMb {
    display: block;
  }
  .header_dhh_2_0_0__logoMb img {
    width: 70%;
    margin: 10px auto;
    display: block;
    height: auto;
  }
  .header_dhh_2_0_0__contact {
    display: none;
  }
  .header_dhh_2_0_0__menuMb {
    display: block;
    cursor: pointer;
  }
  .header_dhh_2_0_0__menuMb img {
    width: 35px;
    height: auto;
    margin-top: 6px;
  }
  .header_dhh_2_0_0__right {
    -webkit-animation: slideInLeft 0.5s;
            animation: slideInLeft 0.5s;
    display: none;
    overflow-y: auto;
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    background: linear-gradient(90deg, rgb(91, 47, 158) 0%, rgb(182, 31, 126) 19%, rgb(175, 32, 129) 38%, rgb(91, 47, 158) 99%);
    width: 250px;
    z-index: 20;
  }
  .header_dhh_2_0_0__menu {
    flex-direction: column;
    align-items: flex-start;
  }
  .header_dhh_2_0_0__menuTitle {
    border: none;
    border-bottom: 1px dashed #ccc;
    padding: 10px;
  }
  .header_dhh_2_0_0__menuTitle::after {
    content: "ˇ";
    position: absolute;
    right: 10px;
    font-size: 25px;
  }
  .header_dhh_2_0_0__menuItem {
    width: 100%;
  }
  .header_dhh_2_0_0__menuItem:hover .header_dhh_2_0_0__dropdown {
    display: block;
  }
  .header_dhh_2_0_0__menuItem:last-child {
    display: none;
  }
  .header_dhh_2_0_0__dropdown {
    width: 100%;
    display: none;
    position: unset;
    visibility: visible;
    opacity: 1;
    padding: 0;
    box-shadow: unset;
    border: none;
    margin: 0;
    background: #0055A4;
    border-radius: 0;
  }
  .header_dhh_2_0_0__dropdownBox {
    flex-direction: column;
  }
  .header_dhh_2_0_0__dropdownCate {
    width: 100%;
    padding: 10px;
    margin: 0;
  }
  .header_dhh_2_0_0__dropdownCate ul li {
    border-bottom: 1px dashed #51abff;
  }
  .header_dhh_2_0_0__dropdownCate ul li:hover a {
    color: #fff;
  }
  .header_dhh_2_0_0__dropdownCate ul li a {
    color: #fff;
  }
  .header_dhh_2_0_0__dropdownTitle {
    color: #fff;
  }
  .header_dhh_2_0_0__btnGroup {
    display: flex;
    align-items: center;
  }
  .header_dhh_2_0_0__btnGroup a {
    background: #e43c3b;
    width: 35px;
    height: 35px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    margin-right: 5px;
  }
  .header_dhh_2_0_0__btnGroup a img {
    width: 20px;
    height: 20px;
  }
  .header_dhh_2_0_0__btnGroup button {
    background: #00abe5;
    width: 35px;
    height: 35px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    border: none;
    cursor: pointer;
  }
  .header_dhh_2_0_0__btnGroup button img {
    width: 20px;
    height: 20px;
  }
}
@media (max-width: 767px) {
  .header_dhh_2_0_0 .container {
    padding-right: 15px;
    padding-left: 15px;
  }
  .header_dhh_2_0_0__flag {
    margin: 0;
  }
  .header_dhh_2_0_0__flag img {
    width: 100%;
  }
  .header_dhh_2_0_0__flag span {
    font-size: 9px;
  }
  .header_dhh_2_0_0__logo {
    margin-top: 5px;
  }
}
@media (max-width: 320px) {
  .header_dhh_2_0_0__flag span {
    font-size: 6px;
  }
  .header_dhh_2_0_0__right {
    width: 200px;
  }
  .header_dhh_2_0_0__menuTitle {
    font-size: 12px;
  }
  .header_dhh_2_0_0__btnGroup a {
    width: 30px;
    height: 30px;
  }
  .header_dhh_2_0_0__btnGroup button {
    width: 30px;
    height: 30px;
  }
}/*# sourceMappingURL=header_dhh_2_0_0.css.map */