.header_dhh_2_0_0 {
    position: sticky;
    top: 0;
    left: 0;
    width: 100%;
    background: linear-gradient(90deg, rgb(91, 47, 158) 5%, rgb(182, 31, 126) 21%, rgb(91, 47, 158) 80%);
    box-shadow: 0 0 4px rgb(0 0 0 / 30%);
    padding: 20px 0 10px;
    z-index: 20;
    &__box {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    &__logo {
        margin: 0;
        img {
            display: block;
            width: 100%;
            max-width: 200px;
            height: auto;
        }
    }
    &__list {
        display: flex;
        list-style: none;
        margin: 0;
        padding: 0;
    }
    &__link {
        font-size: 16px;
        font-weight: 600;
        padding: 10px 15px;
        cursor: pointer;
        color: white;
    }
    &__btn {
        padding: 0;
        margin: 0 0 0 10px;
        border: none;
        background: none;
        display: block;
        cursor: pointer;
    }
    &__dropdown {
        transition: all 0.2s linear;
        display: none;
        position: absolute;
        right: 0;
        top: 40px;
        width: 740px;
        background: #fff;
        border-radius: 15px;
        border: 1px solid rgba(0, 0, 0, 0.15);
        box-shadow: 0 0 2px rgba(0, 0, 0, 0.2);
        padding: 20px;
        &Cate {
            width: 50%;
            margin-right: 20px;
            &:last-child {
                margin-right: 0;
            }
        }
        &Title {
            // text-transform: uppercase;
            font-size: 14px;
            text-transform: uppercase;
            color: #307dad;
            font-weight: 600;
            margin-bottom: 5px;
        }
        ul {
            list-style: none;
            padding: 0;
            margin: 0;
            font-size: 12px;
            li {
                border-bottom: 1px solid #f1f1f1;
                padding-bottom: 8px;
                margin-bottom: 7px;
                &:hover a {
                    color: #0056a4;
                }
            }
        }
    }
    &__link:hover {
        background-color: #a90a93;
        border-radius: 10px;
    }
    &__item:hover {
        .header_dhh_2_0_0__dropdown {
            display: flex;
        }
    }
    &__nav {
        display: none;
    }
    &__logoMb {
        display: none;
    }
    &__btnGroup {
        display: none;
    }
    &__bg {
        display: none;
    }
    @media (max-width: 1200px) {
        padding: 8px 0;
        .container {
            padding-left: 0;
            padding-right: 0;
        }
        &__bg {
            background: rgba(0, 0, 0, 0.5);
            position: fixed;
            left: 0;
            bottom: 0;
            top: 0;
            width: 100%;
            z-index: 10;
        }
        &__nav {
            display: block;
            img {
                display: block;
            }
        }
        &__btnGroup {
            display: flex;
            a {
                border: 1px solid white;
                width: 35px;
                height: 35px;
                display: inline-flex;
                justify-content: center;
                align-items: center;
                border-radius: 50%;
                margin-right: 5px;
            }
            button {
                background: rgba(238, 238, 238, 0);
                border: 1px solid white;
                width: 35px;
                height: 35px;
                display: inline-flex;
                justify-content: center;
                align-items: center;
                border-radius: 50%;
                cursor: pointer;
            }
        }
        &__logo {
            img {
                max-width: 160px;
                margin: 0 auto;
            }
        }
        &__logoMb {
            display: block;
            img {
                width: 70%;
                margin: 10px auto;
                display: block;
                height: auto;
            }
        }
        &__list {
            animation: slideInLeft 0.5s;
            display: none;
            overflow-y: auto;
            position: fixed;
            left: 0;
            top: 0;
            bottom: 0;
            background: linear-gradient(rgba(91, 47, 158, 1) 5%, rgba(182, 31, 126, 1) 21%, rgba(91, 47, 158, 1) 80%);
            width: 250px;
            z-index: 20;
        }
        &__item {
            width: 100%;
            padding: 8px 0;
        }
        &__btn {
            display: none;
        }
        &__link::after {
            content: "ˇ";
            position: absolute;
            right: 10px;
            font-size: 25px;
        }
        &__link:hover {
            background-color: unset;
        }
        &__item:hover {
            .header_dhh_2_0_0__dropdown {
                display: none;
                flex-direction: column;
            }
        }
        &__item.open .header_dhh_2_0_0__dropdown {
            display: block;
        }
        &__dropdown {
            width: 100%;
            display: none;
            position: unset;
            padding: 0;
            box-shadow: unset;
            border: none;
            margin: 10px 0 0;
            border-radius: 0;
            &Cate {
                width: 100%;
                padding: 10px;
                margin: 0;
                ul {
                    li {
                        border-bottom: 1px dashed #51abff;
                        &:hover {
                            a {
                                color: #fff;
                            }
                        }
                        a {
                            color: black;
                        }
                    }
                }
            }
            &Title {
                color: black;
            }
        }
    }
    @media (max-width: 767px) {
        .container {
            padding-right: 15px;
            padding-left: 15px;
        }
    }
    @media (max-width: 320px) {
        &__logo {
            img {
                max-width: 130px;
            }
        }
    }
    @media (max-width: 280px) {
        .container {
            padding-right: 10px;
            padding-left: 10px;
        }
    }
}