.doctor_dhh_2_0_0 {
    padding: 30px 0 40px;
    background: url(../images/doctor-bg.jpg);
    filter: drop-shadow(0px 3px 3px rgba(0, 0, 0, 0.2));
    &__header {
        font-size: 26px;
        text-transform: uppercase;
        color: #B61F7E;
        text-align: center;
        margin-bottom: 20px;
    }
    &__box {
        display: flex;
        justify-content: space-between;
        gap: 15px;
    }
    &__video {
        width: 29%;
        position: relative;
        img {
            width: 100%;
            height: auto;
            display: block;
        }
        span {
            position: absolute;
            left: 0;
            bottom: 0;
            top: 0;
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            cursor: pointer;
            img {
                width: 50%;
                max-width: 75px;
                margin: 0 auto;
                height: auto;
                border-radius: 50%;
                transition: all 0.2s linear;
                &:hover {
                    opacity: 0.9;
                }
            }
        }
    }
    &__right {
        width: 73%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        gap: 15px;
    }
    &__detail {
        display: flex;
        gap: 15px;
        border: 1px solid #B61F7E;
        overflow: hidden;
    }
    &__img {
        width: 40%;
        overflow: hidden;
        img {
            width: 100%;
            height: auto;
            display: block;
            transition: all 0.2s linear;
            &:hover {
                transform: scale(1.05);
            }
        }
    }
    &__text {
        width: 60%;
        padding: 10px 10px 10px 0;
        ul {
            margin: 5px 0;
            list-style: none;
            padding: 0;
            font-size: 14px;
        }
    }
    &__name {
        font-size: 20px;
        font-weight: 600;
        color: #B61F7E;
        margin: 0;
    }
    &__tabs {
        display: flex;
        gap: 15px;
        justify-content: space-between;
    }
    &__tab {
        position: relative;
        overflow: hidden;
        cursor: pointer;
        border: 2px solid transparent;
        transition: all 0.2s linear;
        &:hover {
            border: 2px solid rgba(91, 47, 158, 0.6);
            span {
                background: rgba(91, 47, 158, 0.3);
            }
        }
        img {
            width: 100%;
            height: auto;
            display: block;
        }
        span {
            position: absolute;
            left: 0;
            top: 0;
            bottom: 0;
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: flex-end;
            padding: 10px 5px;
            background: rgba(91, 47, 158, 0.6);
            text-align: center;
            font-size: 14px;
            color: #fff;
            transition: all 0.2s linear;
        }
    }
    &--active {
        border: 2px solid rgba(91, 47, 158, 0.6);
        span {
            background: rgba(91, 47, 158, 0.3);
        }
    }
    @media(max-width: 912px) {
        &__text {
            ul {
                font-size: 13px;
            }
        }
        &__tab {
            span {
                font-size: 12px;
            }
        }
    }
    @media(max-width: 767px) {
        padding: 30px 0;
        &__header {
            font-size: 17px;
            margin-bottom: 15px;
        }
        &__box {
            flex-direction: column;
            gap: 20px;
        }
        &__video {
            order: 1;
            margin: 0 auto;
            width: 80%
        }
        &__right {
            width: 100%;
            gap: 15px;
        }
        &__tabs {
            gap: 10px;
        }
        &__detail {
            order: 1;
            gap: 10px;
            flex-direction: column
        }
        &__img {
            width: 100%;
        }
        &__text {
            width: 100%;
            padding: 0 10px 10px;
            h2 {
                font-size: 17px;
                margin: 0;
            }
            ul {
                font-size: 13px;
            }
        }
        &__tab {
            span {
                display: none;
            }
        }
    }
    @media(max-width: 320px) {
        &__video {
            width: 100%
        }
    }
}