.news_dhh_2_0_0 {
    padding: 30px 0;
    &__header {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: 20px;
        span {
            display: block;
            color: #B61F7E;
            font-size: 20px;
            text-transform: uppercase;
            font-weight: 600;
            margin: 0 15px;
            min-width: 190px;
            text-align: center;
        }
    }
    &__line {
        height: 1px;
        background: #B61F7E;
        width: 40%;
    }
    &__box {
        display: flex;
        justify-content: center;
        gap: 20px;
    }
    &__item {
        width: 33%;
    }
    &__img {
        overflow: hidden;
        img {
            width: 100%;
            height: auto;
            display: block;
            transition: all 0.2s linear;
            &:hover {
                transform: scale(1.05);
            }
        }
    }
    &__text {
        padding: 10px 0 0;
        span {
            font-size: 14px;
        }
    }
    &__title {
        font-size: 18px;
        color: #B61F7E;
        font-weight: 600;
        margin-bottom: 5px;
        transition: all 0.2s linear;
        margin: 0 0 5px 0;
        &:hover {
            color: #461396;
        }
    }
    @media(max-width: 767px) {
        padding: 20px 0;
        &__header {
            margin-bottom: 15px;
            span {
                font-size: 17px;
                min-width: 160px;
                margin: 0 10px;
            }
        }
        &__box {
            flex-direction: column;
            gap: 10px;
        }
        &__title {
            font-size: 16px;
        }
        &__item {
            width: 100%;
        }
    }
}