.customer_dhh_2_0_0 {
    padding: 50px 0;
    background: url(../images/customer-bg.jpg) center 0 no-repeat;
    background-size: 1920px;
    &__header {
        margin-bottom: 50px;
        span {
            display: block;
            margin: 0 auto;
            width: fit-content;
            padding: 20px 50px;
            border: 2px solid #8859C7;
            text-align: center;
            font-size: 32px;
            text-transform: uppercase;
            color: #8859C7;
            b {
                display: block;
            }
        }
    }
    &__box {
        display: flex;
        justify-content: center;
        width: 80%;
        margin: 0 auto;
        img {
            width: 100%;
            height: auto;
            display: block;
        }
    }
    &__left {
        width: 50%;
        display: flex;
        flex-direction: column;
    }
    &__right {
        width: 50%;
        display: flex;
        flex-direction: column;
    }
    &__top {
        display: flex;
        .customer_dhh_2_0_0__item {
            width: 50%;
        }
    }
    &__item {
        overflow: hidden;
        img {
            transition: all 0.2s linear;
        }
        &:hover {
            img {
                transform: scale(1.05);
            }
        }
    }
    @media(max-width:1440px) {
        background-size: 1440px;
    }
    @media(max-width:1180px) {
        background-size: 1180px;
        padding: 30px 0;
        &__header {
            margin-bottom: 30px;
            span {
                font-size: 26px;
            }
        }
    }
    @media(max-width: 912px) {
        &__box {
            width: 90%;
        }
    }
    @media(max-width: 767px) {
        background-size: 540px;
        padding: 20px 0;
        &__header {
            margin-bottom: 20px;
            span {
                padding: 10px;
                font-size: 17px;
            }
        }
        &__box {
            width: 100%;
        }
    }
    @media(max-width: 320px) {
        span {
            margin: 0 10px;
            font-size: 16px;
        }
    }
}