.customer_dhh_2_0_0 {
    background: url(../images/customer-bg.jpg) center 0;
    background-size: 1920px;
    min-height: 700px;
    display: flex;
    align-items: center;
    justify-content: center;
    &__box {
        display: flex;
        gap: 20px;
        max-width: 756px;
        width: 90%;
        margin: 0 auto;
    }
    &__item {
        background: #fff;
        padding: 20px 0;
        width: 33%;
        display: inline-flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        text-align: center;
        border: 2px solid #B61F7E;
        border-radius: 20px;
        text-transform: uppercase;
    }
    &__title {
        font-size: 32px;
        font-weight: 600;
        color: #B61F7E;
    }
    &__desc {
        font-size: 18px;
    }
    @media(max-width: 1440px) {
        background-size: 1440px;
        min-height: 600px;
    }
    @media(max-width: 912px) {
        &__title {
            font-size: 30px;
        }
        &__desc {
            font-size: 16px;
        }
    }
    @media(max-width:767px) {
        &__box {
            flex-direction: column;
            justify-content: center;
            align-items: center;
            gap: 10px;
        }
        &__item {
            width: 50%;
            min-width: 182px;
        }
        &__title {
            font-size: 24px;
        }
        &__desc {
            font-size: 13px;
        }
    }
}