.basis_dhh_2_0_0 {
    padding: 30px 0;
    &__header {
        text-transform: uppercase;
        text-align: center;
        margin-bottom: 20px;
        color: #727272;
        font-size: 24px;
        b {
            font-size: 26px;
            display: block;
            color: #B61F7E;
        }
    }
    &__box {
        display: flex;
        justify-content: center;
        gap: 20px;
    }
    &__left {
        width: 52%;
        display: flex;
        flex-direction: column;
        gap: 20px;
    }
    &__customer {
        background: #FFD1EE;
        display: flex;
    }
    &__img {
        width: 50%;
        img {
            width: 100%;
            height: auto;
            display: block;
        }
    }
    &__text {
        width: 50%;
        padding: 15px 15px 20px 15px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        img {
            width: 17%;
            height: auto;
            display: block;
            min-width: 30px;
        }
        span {
            padding: 10px;
            display: block;
            color: #5B2F9E;
            font-size: 16px;
        }
        button {
            font-size: 14px;
            font-weight: 600;
            padding: 10px 20px;
            border-radius: 20px;
            border: none;
            background: #5B2F9E;
            color: #fff;
            cursor: pointer;
            transition: all 0.2s linear;
            &:hover {
                box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.7);
            }
        }
    }
    &__video {
        position: relative;
        cursor: pointer;
        img {
            width: 100%;
            height: auto;
            display: block;
        }
    }
    &__play {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        img {
            width: 60%;
            min-width: 40px;
            border-radius: 50%;
            margin: 0 auto;
        }
    }
    &__right {
        width: 49%;
        display: flex;
        flex-wrap: wrap;
        gap: 15px;
    }
    &__item {
        width: 48%;
        img {
            width: 100%;
            height: auto;
            display: block;
        }
    }
    @media(max-width: 820px) {
        &__text {
            span {
                padding: 5px;
                font-size: 12px;
            }
            button {
                font-size: 13px;
                padding: 5px 10px;
            }
        }
        &__item {
            width: 47%;
        }
    }
    @media(max-width: 767px) {
        padding: 20px 0;
        &__header {
            font-size: 16px;
            margin-bottom: 10px;
            b {
                font-size: 17px;
            }
        }
        &__box {
            flex-direction: column;
            gap: 15px;
        }
        &__left {
            width: 100%;
            gap: 10px;
        }
        &__right {
            width: 100%;
            gap: 10px;
            justify-content: center;
        }
        &__item {
            width: 48%;
        }
    }
    @media(max-width:320px) {
        &__text {
            padding: 5px;
            span {
                font-size: 10px;
            }
            button {
                font-size: 10px;
            }
        }
    }
}