.basis_dhh_2_0_0 {
  padding: 60px 0 0;
}
.basis_dhh_2_0_0__header {
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 20px;
  color: #727272;
  font-size: 24px;
}
.basis_dhh_2_0_0__header b {
  font-size: 26px;
  display: block;
  color: #B61F7E;
}
.basis_dhh_2_0_0__box {
  display: flex;
  justify-content: center;
  gap: 20px;
}
.basis_dhh_2_0_0__left {
  width: 52%;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.basis_dhh_2_0_0__customer {
  background: #FFD1EE;
  display: flex;
}
.basis_dhh_2_0_0__img {
  width: 50%;
  overflow: hidden;
}
.basis_dhh_2_0_0__img img {
  width: 100%;
  height: auto;
  display: block;
  transition: all 0.2s linear;
}
.basis_dhh_2_0_0__img img:hover {
  transform: scale(1.05);
}
.basis_dhh_2_0_0__text {
  width: 50%;
  padding: 15px 15px 20px 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.basis_dhh_2_0_0__text img {
  width: 17%;
  height: auto;
  display: block;
  min-width: 30px;
}
.basis_dhh_2_0_0__text span {
  padding: 10px;
  display: block;
  color: #5B2F9E;
  font-size: 16px;
}
.basis_dhh_2_0_0__text button {
  position: relative;
  font-size: 16px;
  font-weight: 600;
  padding: 10px 30px;
  border-radius: 20px;
  border: none;
  background: #5B2F9E;
  color: #fff;
  cursor: pointer;
  transition: all 0.2s linear;
  overflow: hidden;
}
.basis_dhh_2_0_0__text button::before {
  content: "";
  position: absolute;
  background: url(../images/btn-icon1.svg) center 0 no-repeat;
  background-size: 100%;
  left: 0;
  top: 0;
  bottom: 0;
  width: 110px;
  transition: all 0.2s linear;
}
.basis_dhh_2_0_0__text button::after {
  content: "";
  position: absolute;
  background: url(../images/btn-icon2.svg) center 0 no-repeat;
  background-size: 100%;
  right: 0;
  top: 0;
  bottom: 0;
  width: 110px;
  transition: all 0.2s linear;
}
.basis_dhh_2_0_0__text button:hover {
  box-shadow: 0px 2px 3px 0px rgba(0, 0, 0, 0.5);
  background: #B61F7E;
}
.basis_dhh_2_0_0__text button:hover::before {
  background: url(../images/btn-icon1-hv.svg) center 0 no-repeat;
  background-size: 100%;
}
.basis_dhh_2_0_0__text button:hover::after {
  background: url(../images/btn-icon2-hv.svg) center 0 no-repeat;
  background-size: 100%;
}
.basis_dhh_2_0_0__video {
  position: relative;
  cursor: pointer;
}
.basis_dhh_2_0_0__video img {
  width: 100%;
  height: auto;
  display: block;
}
.basis_dhh_2_0_0__play {
  position: absolute;
  left: 0;
  bottom: 0;
  top: 0;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: all 0.2s linear;
  background: rgba(182, 31, 126, 0.4);
}
.basis_dhh_2_0_0__play:hover {
  background: rgba(182, 31, 126, 0);
}
.basis_dhh_2_0_0__play img {
  width: 50%;
  max-width: 75px;
  margin: 0 auto;
  height: auto;
  border-radius: 50%;
}
.basis_dhh_2_0_0__right {
  width: 49%;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}
.basis_dhh_2_0_0__item {
  width: 48%;
  overflow: hidden;
}
.basis_dhh_2_0_0__item img {
  width: 100%;
  height: auto;
  display: block;
  transition: all 0.2s linear;
}
.basis_dhh_2_0_0__item img:hover {
  transform: scale(1.05);
}
@media (max-width: 912px) {
  .basis_dhh_2_0_0 {
    padding: 40px 0 0;
  }
  .basis_dhh_2_0_0__text span {
    padding: 5px;
    font-size: 12px;
  }
  .basis_dhh_2_0_0__text button {
    font-size: 11px;
    padding: 5px 20px;
  }
  .basis_dhh_2_0_0__text button::before {
    width: 70px;
  }
  .basis_dhh_2_0_0__text button::after {
    width: 70px;
  }
  .basis_dhh_2_0_0__item {
    width: 47%;
  }
}
@media (max-width: 767px) {
  .basis_dhh_2_0_0 {
    padding: 40px 0 0;
  }
  .basis_dhh_2_0_0__header {
    font-size: 16px;
    margin-bottom: 10px;
  }
  .basis_dhh_2_0_0__header b {
    font-size: 17px;
  }
  .basis_dhh_2_0_0__box {
    flex-direction: column;
    gap: 15px;
  }
  .basis_dhh_2_0_0__left {
    width: 100%;
    gap: 10px;
  }
  .basis_dhh_2_0_0__right {
    width: 100%;
    gap: 10px;
    justify-content: center;
  }
  .basis_dhh_2_0_0__item {
    width: 48%;
  }
}
@media (max-width: 320px) {
  .basis_dhh_2_0_0__text {
    padding: 5px;
  }
  .basis_dhh_2_0_0__text span {
    font-size: 10px;
  }
  .basis_dhh_2_0_0__text button {
    font-size: 10px;
  }
}/*# sourceMappingURL=basis_dhh_2_0_0.css.map */