.basis_dhh_2_0_0 {
    padding: 40px 0 0;
    &__header {
        text-transform: uppercase;
        text-align: center;
        margin-bottom: 20px;
        color: #727272;
        font-size: 24px;
        b {
            font-size: 26px;
            display: block;
            color: #B61F7E;
        }
    }
    &__box {
        display: flex;
        justify-content: center;
        gap: 20px;
    }
    &__left {
        width: 52%;
        display: flex;
        flex-direction: column;
        gap: 10px;
    }
    &__customer {
        background: #FFD1EE;
        display: flex;
    }
    &__img {
        width: 50%;
        overflow: hidden;
        img {
            width: 100%;
            height: auto;
            display: block;
            transition: all 0.2s linear;
            &:hover {
                transform: scale(1.05);
            }
        }
    }
    &__text {
        width: 50%;
        padding: 15px 15px 20px 15px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        img {
            width: 17%;
            height: auto;
            display: block;
            min-width: 30px;
        }
        span {
            padding: 10px;
            display: block;
            color: #5B2F9E;
            font-size: 16px;
        }
        button {
            position: relative;
            font-size: 16px;
            font-weight: 600;
            padding: 10px 30px;
            border-radius: 20px;
            border: none;
            background: #5B2F9E;
            color: #fff;
            cursor: pointer;
            transition: all 0.2s linear;
            overflow: hidden;
            &::before {
                content: '';
                position: absolute;
                background: url(../images/btn-icon1.svg)center 0 no-repeat;
                background-size: 100%;
                left: 0;
                top: 0;
                bottom: 0;
                width: 110px;
                transition: all 0.2s linear;
            }
            &::after {
                content: '';
                position: absolute;
                background: url(../images/btn-icon2.svg)center 0 no-repeat;
                background-size: 100%;
                right: 0;
                top: 0;
                bottom: 0;
                width: 110px;
                transition: all 0.2s linear;
            }
            &:hover {
                box-shadow: 0px 2px 3px 0px rgba(0, 0, 0, 0.5);
                background: #B61F7E;
                &::before {
                    background: url(../images/btn-icon1-hv.svg)center 0 no-repeat;
                    background-size: 100%;
                }
                &::after {
                    background: url(../images/btn-icon2-hv.svg)center 0 no-repeat;
                    background-size: 100%;
                }
            }
        }
    }
    &__video {
        position: relative;
        cursor: pointer;
        img {
            width: 100%;
            height: auto;
            display: block;
        }
    }
    &__play {
        position: absolute;
        left: 0;
        bottom: 0;
        top: 0;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        transition: all 0.2s linear;
        background: rgba(182, 31, 126, 0.4);
        &:hover {
            background: rgba(182, 31, 126, 0);
        }
        img {
            width: 50%;
            max-width: 75px;
            margin: 0 auto;
            height: auto;
            border-radius: 50%;
        }
    }
    &__right {
        width: 49%;
        display: flex;
        flex-wrap: wrap;
        gap: 10px;
    }
    &__item {
        width: 48%;
        overflow: hidden;
        img {
            width: 100%;
            height: auto;
            display: block;
            transition: all 0.2s linear;
            &:hover {
                transform: scale(1.05);
            }
        }
    }
    @media(max-width: 912px) {
        &__text {
            span {
                padding: 5px;
                font-size: 12px;
            }
            button {
                font-size: 11px;
                padding: 5px 20px;
                &::before {
                    width: 70px;
                }
                &::after {
                    width: 70px;
                }
            }
        }
        &__item {
            width: 47%;
        }
    }
    @media(max-width: 767px) {
        padding: 20px 0;
        &__header {
            font-size: 16px;
            margin-bottom: 10px;
            b {
                font-size: 17px;
            }
        }
        &__box {
            flex-direction: column;
            gap: 15px;
        }
        &__left {
            width: 100%;
            gap: 10px;
        }
        &__right {
            width: 100%;
            gap: 10px;
            justify-content: center;
        }
        &__item {
            width: 48%;
        }
    }
    @media(max-width:320px) {
        &__text {
            padding: 5px;
            span {
                font-size: 10px;
            }
            button {
                font-size: 10px;
            }
        }
    }
}