.footer_dhh_2_0_0 {
    background: url(../images/footer-bg.jpg) center 0 no-repeat;
    background-size: cover;
    padding: 30px 0 60px;
    color: #fff;
    &__box {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        gap: 20px;
    }
    &__box-1 {
        width: 26%;
    }
    &__pic {
        width: 70%;
        img {
            width: 100%;
            height: auto;
            padding-bottom: 10px;
        }
    }
    &__box-2 {
        width: 34%;
    }
    &__item {
        display: flex;
        gap: 5px;
        font-size: 14px;
        padding-bottom: 10px;
        img {
            width: 20px;
        }
    }
    &__note {
        width: 36%;
        font-size: 13px;
        p {
            font-size: 14px;
        }
    }
    @media (max-width: 1180px) {
        &__box {
            gap: 18px;
        }
        &__box-1 {
            width: 25%;
            font-size: 13px;
        }
        &__pic {
            width: 90%;
        }
        &__box-2 {
            width: 32%;
        }
        &__item {
            font-size: 13px;
        }
        &__note {
            width: 39%;
            p {
                font-size: 13px;
            }
        }
    }
    @media (max-width: 912px) {
        &__box {
            justify-content: center;
        }
        &__box-1 {
            width: 45%;
        }
        &__pic {
            width: 60%;
        }
        &__box-2 {
            width: 45%;
        }
        &__note {
            width: 81%;
            text-align: center;
        }
    }
    @media (max-width:767px) {
        &__box-1 {
            width: 100%;
            text-align: center;
        }
        &__pic {
            width: 60%;
            margin: 0 auto;
            img {
                padding-bottom: 5px;
            }
        }
        &__box-2 {
            width: 100%;
        }
        &__item {
            padding-bottom: 5px;
        }
        &__note {
            width: 100%;
            text-align: center;
            p {
                margin-bottom: 5px;
            }
        }
    }
    @media (max-width: 320px) {
        &__pic {
            width: 72%;
        }
        &__item {
            font-size: 12px;
        }
        &__note {
            font-size: 12px;
            p {
                font-size: 12px;
            }
        }
    }
    @media (max-width: 280px) {
        &__pic {
            width: 85%;
        }
        &__item {
            gap: 2px;
        }
    }
}